message-builder-simple-xml/src/main/resources/ca/infoway/messagebuilder/model/COCT_MT090302CA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:chi="urn:ca.infoway.messagebuilder.simplexml.v1"
           elementFormDefault="qualified"
           targetNamespace="urn:ca.infoway.messagebuilder.simplexml.v1">
   <xs:include schemaLocation="../../../../../../classes/simpleDataTypes.xsd"/>
   <xs:complexType name="COCT_MT090302CA.AssignedDevice">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" name="applicationId" type="chi:InstanceIdentifier"/>
         <xs:element maxOccurs="1" minOccurs="1" name="applicationName" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>