message-builder-simple-xml/src/main/resources/ca/infoway/messagebuilder/model/FICR_MT610201CA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:chi="urn:ca.infoway.messagebuilder.simplexml.v1"
           elementFormDefault="qualified"
           targetNamespace="urn:ca.infoway.messagebuilder.simplexml.v1">
   <xs:include schemaLocation="COCT_MT110101CA.xsd"/>
   <xs:include schemaLocation="COCT_MT110200CA.xsd"/>
   <xs:include schemaLocation="COCT_MT260020CA.xsd"/>
   <xs:include schemaLocation="COCT_MT680000CA.xsd"/>
   <xs:include schemaLocation="../../../../../../classes/simpleDataTypes.xsd"/>
   <xs:complexType name="FICR_MT610201CA.AdjudResultsGroup">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" name="adjudicatedResultsGroupID"
                     type="chi:InstanceIdentifier"/>
         <xs:element maxOccurs="1" minOccurs="1" name="typeOfSummary" type="chi:CodedValue"/>
         <xs:element maxOccurs="1" minOccurs="1" name="summaryPeriodDateRange"
                     type="chi:DateInterval"/>
         <xs:element maxOccurs="1" minOccurs="1" name="summaryPeriodAmount" type="chi:Money"/>
         <xs:element maxOccurs="10" minOccurs="0" name="summaryAdjudResultsGroupSummaryData"
                     type="chi:FICR_MT610201CA.AdjudResultsGroupSummaryData"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FICR_MT610201CA.AdjudResultsGroupSummaryData">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" name="summaryTypeCode" type="chi:CodedValue"/>
         <xs:element maxOccurs="1" minOccurs="1" name="summaryTotalAmount"
                     type="chi:PhysicalQuantity"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FICR_MT610201CA.AdjudicatedInvoiceAuthor">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" name="adjudicationDateTime"
                     type="chi:PartialDateTime"/>
         <xs:element maxOccurs="1" minOccurs="1" name="adjudicatorRole"
                     type="chi:FICR_MT610201CA.AdjudicatorRole"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FICR_MT610201CA.AdjudicatedInvoiceCoverage">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" name="cOBSequenceAsAdjudicated" type="xs:integer"/>
         <xs:element maxOccurs="1" minOccurs="1" name="policyOrAccount"
                     type="chi:FICR_MT610201CA.PolicyOrAccount"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FICR_MT610201CA.AdjudicatedInvoiceElementChoice">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="reference1Allowable"
                     type="chi:FICR_MT610201CA.Allowable"/>
         <xs:element maxOccurs="1" minOccurs="1" name="outcomeOf"
                     type="chi:FICR_MT610201CA.AdjudicatedResultOutcome"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FICR_MT610201CA.AdjudicatedInvoiceElementComponent">
      <xs:sequence>
         <xs:group maxOccurs="1" minOccurs="1"
                   ref="chi:FICR_MT610201CA.AdjudicatedInvoiceElementChoice"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FICR_MT610201CA.AdjudicatedInvoiceElementDetail">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="reference1Allowable"
                     type="chi:FICR_MT610201CA.Allowable"/>
         <xs:element maxOccurs="1" minOccurs="1" name="outcomeOf"
                     type="chi:FICR_MT610201CA.AdjudicatedResultOutcome"/>
         <xs:element maxOccurs="1" minOccurs="1" name="adjudicatedInvoiceElementIdentifier"
                     type="chi:InstanceIdentifier"/>
         <xs:element maxOccurs="1" minOccurs="1" name="adjudicatedProductServiceCode"
                     type="chi:CodedValue"/>
         <xs:element maxOccurs="1" minOccurs="1" name="adjudicatedUnitQuantity"
                     type="chi:PhysicalQuantity"/>
         <xs:element maxOccurs="1" minOccurs="1" name="adjudicatedUnitPrice"
                     type="chi:RatioMoneyPerUnit"/>
         <xs:element maxOccurs="1" minOccurs="1" name="adjudicatedInvoiceLineAmount"
                     type="chi:Money"/>
         <xs:element maxOccurs="2147483647" minOccurs="0" name="multiplierEG007" type="xs:decimal"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FICR_MT610201CA.AdjudicatedInvoiceElementGroup">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="reference1Allowable"
                     type="chi:FICR_MT610201CA.Allowable"/>
         <xs:element maxOccurs="1" minOccurs="1" name="outcomeOf"
                     type="chi:FICR_MT610201CA.AdjudicatedResultOutcome"/>
         <xs:element maxOccurs="1" minOccurs="1" name="adjudicatedResultsIdentifier"
                     type="chi:InstanceIdentifier"/>
         <xs:element maxOccurs="1" minOccurs="1" name="invoiceType" type="chi:CodedValue"/>
         <xs:element maxOccurs="1" minOccurs="1" name="statusOfTheAdjudicatedInvoice"
                     type="chi:SimpleCodedType"/>
         <xs:element maxOccurs="1" minOccurs="1" name="paidAmount" type="chi:Money"/>
         <xs:element maxOccurs="1" minOccurs="0" name="author"
                     type="chi:FICR_MT610201CA.AdjudicatedInvoiceAuthor"/>
         <xs:element maxOccurs="1" minOccurs="0" name="predecessorAdjudicatedInvoiceElementGroup"
                     type="chi:FICR_MT610201CA.AdjudicatedInvoiceElementGroup"/>
         <xs:element maxOccurs="10" minOccurs="0" name="referenceAdjudicatedInvoiceElementGroup"
                     type="chi:COCT_MT680000CA.AdjudicatedInvoiceElementGroup"/>
         <xs:element maxOccurs="10" minOccurs="0" name="coverage"
                     type="chi:FICR_MT610201CA.AdjudicatedInvoiceCoverage"/>
         <xs:element maxOccurs="5" minOccurs="1" name="component"
                     type="chi:FICR_MT610201CA.AdjudicatedInvoiceElementComponent"/>
         <xs:element maxOccurs="1" minOccurs="0" name="referencedByAdjudResultsGroup"
                     type="chi:FICR_MT610201CA.AdjudResultsGroup"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FICR_MT610201CA.AdjudicatedResultOutcome">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" name="adjudicationResult"
                     type="chi:FICR_MT610201CA.AdjudicationResult"/>
      </xs:sequence>
   </xs:complexType>
   <xs:group name="FICR_MT610201CA.AdjudicationCodeChoice">
      <xs:choice>
         <xs:element name="adjudicationResultReason"
                     type="chi:FICR_MT610201CA.AdjudicationResultReason"/>
         <xs:element name="adjudicationResultInformation"
                     type="chi:FICR_MT610201CA.AdjudicationResultInformation"/>
      </xs:choice>
   </xs:group>
   <xs:complexType name="FICR_MT610201CA.AdjudicationResult">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" name="resultExplanation" type="chi:CodedValue"/>
         <xs:element maxOccurs="5" minOccurs="0" name="triggerAdjudicationResultRequiredAct"
                     type="chi:FICR_MT610201CA.AdjudicationResultRequiredAct"/>
         <xs:element maxOccurs="10" minOccurs="1" name="reference"
                     type="chi:FICR_MT610201CA.AdjudicationResultReference"/>
         <xs:group maxOccurs="100" minOccurs="0" ref="chi:FICR_MT610201CA.AdjudicationCodeChoice"/>
         <xs:element maxOccurs="10" minOccurs="0" name="reasonOfDetectedIssueEvent"
                     type="chi:COCT_MT260020CA.DetectedIssueEvent"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FICR_MT610201CA.AdjudicationResultInformation">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" name="adjudicatedResultInformation"
                     type="chi:EncapsulatedDocumentOrReference"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FICR_MT610201CA.AdjudicationResultReason">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" name="adjudicatedResultReason"
                     type="chi:EncapsulatedDocumentOrReference"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FICR_MT610201CA.AdjudicationResultReference">
      <xs:sequence>
         <xs:group maxOccurs="1" minOccurs="1" ref="chi:FICR_MT610201CA.InvoiceElementChoice"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FICR_MT610201CA.AdjudicationResultRequiredAct">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" name="requiredActionType" type="chi:CodedValue"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FICR_MT610201CA.AdjudicatorBillingTaxAccount">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" name="taxAcctNo" type="chi:InstanceIdentifier"/>
         <xs:element maxOccurs="1" minOccurs="1" name="detailTaxCode" type="chi:CodedValue"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FICR_MT610201CA.AdjudicatorRole">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" name="adjudicatorID" type="chi:InstanceIdentifier"/>
         <xs:element maxOccurs="1" minOccurs="0" name="adjudicatorPersonName" type="chi:PersonName"/>
         <xs:element maxOccurs="1" minOccurs="0" name="directAuthorityInsuranceCarrierRole"
                     type="chi:FICR_MT610201CA.InsuranceCarrierRole"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FICR_MT610201CA.Allowable">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" name="paidAmount" type="chi:Money"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FICR_MT610201CA.CarrierRole">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" name="carrierID" type="chi:InstanceIdentifier"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FICR_MT610201CA.CoveredPartyAsPatient">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" name="coveredPartyIdentifier"
                     type="chi:InstanceIdentifier"/>
         <xs:element maxOccurs="1" minOccurs="1" name="relationshipToPolicyHolder"
                     type="chi:CodedValue"/>
         <xs:element maxOccurs="1" minOccurs="0" name="indirectAuthorityPersonalRelationship"
                     type="chi:FICR_MT610201CA.PersonalRelationship"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FICR_MT610201CA.InsuranceCarrierRole">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" name="adjudicatorInsuranceCarrierID"
                     type="chi:InstanceIdentifier"/>
      </xs:sequence>
   </xs:complexType>
   <xs:group name="FICR_MT610201CA.InvoiceElementChoice">
      <xs:choice>
         <xs:element name="invoiceElementDetail" type="chi:FICR_MT610201CA.InvoiceElementDetail"/>
         <xs:element name="invoiceElementGroup" type="chi:FICR_MT610201CA.InvoiceElementGroup"/>
      </xs:choice>
   </xs:group>
   <xs:complexType name="FICR_MT610201CA.InvoiceElementDetail">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" name="submittedInvoiceLineIdentifier"
                     type="chi:InstanceIdentifier"/>
         <xs:element maxOccurs="1" minOccurs="1" name="submittedProductServiceCode"
                     type="chi:CodedValue"/>
         <xs:element maxOccurs="1" minOccurs="1" name="submittedInvoiceLineAmount" type="chi:Money"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FICR_MT610201CA.InvoiceElementGroup">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" name="invoiceGroupingIdentifier"
                     type="chi:InstanceIdentifier"/>
         <xs:element maxOccurs="1" minOccurs="1" name="invoiceType" type="chi:CodedValue"/>
         <xs:element maxOccurs="1" minOccurs="1" name="invoiceSubTotal" type="chi:Money"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FICR_MT610201CA.PaymentIntent">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="paymentIntentDateTime" type="chi:PartialDate"/>
         <xs:element maxOccurs="1" minOccurs="0" name="totalIntentPaymentAmount" type="chi:Money"/>
         <xs:element maxOccurs="1" minOccurs="0" name="creditAccount"
                     type="chi:COCT_MT110200CA.Account"/>
         <xs:element maxOccurs="1" minOccurs="0" name="debitAccount"
                     type="chi:COCT_MT110101CA.Account"/>
         <xs:element maxOccurs="5" minOccurs="0"
                     name="pertinentInformationAdjudicatorBillingTaxAccount"
                     type="chi:FICR_MT610201CA.AdjudicatorBillingTaxAccount"/>
         <xs:element maxOccurs="10" minOccurs="1" name="reasonOf"
                     type="chi:FICR_MT610201CA.PaymentIntentReason"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FICR_MT610201CA.PaymentIntentReason">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" name="adjudicatedInvoiceElementGroup"
                     type="chi:FICR_MT610201CA.AdjudicatedInvoiceElementGroup"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FICR_MT610201CA.PersonalRelationship">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" name="personalRelationshipCode"
                     type="chi:CodedValue"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FICR_MT610201CA.PolicyOrAccount">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" name="policyIdentifierS"
                     type="chi:InstanceIdentifier"/>
         <xs:element maxOccurs="1" minOccurs="0" name="policyType" type="chi:CodedType"/>
         <xs:element maxOccurs="1" minOccurs="1" name="beneficiaryCoveredPartyAsPatient"
                     type="chi:FICR_MT610201CA.CoveredPartyAsPatient"/>
         <xs:element maxOccurs="1" minOccurs="0" name="authorCarrierRole"
                     type="chi:FICR_MT610201CA.CarrierRole"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>