message-builder-simple-xml/src/main/resources/ca/infoway/messagebuilder/model/POLB_MT004200CA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:chi="urn:ca.infoway.messagebuilder.simplexml.v1"
           elementFormDefault="qualified"
           targetNamespace="urn:ca.infoway.messagebuilder.simplexml.v1">
   <xs:include schemaLocation="COCT_MT120600CA.xsd"/>
   <xs:include schemaLocation="COCT_MT080100CA.xsd"/>
   <xs:include schemaLocation="COCT_MT090508CA.xsd"/>
   <xs:include schemaLocation="COCT_MT090102CA.xsd"/>
   <xs:include schemaLocation="COCT_MT050007CA.xsd"/>
   <xs:include schemaLocation="POLB_MT001001CA.xsd"/>
   <xs:include schemaLocation="COCT_MT130001CA.xsd"/>
   <xs:include schemaLocation="COCT_MT090502CA.xsd"/>
   <xs:include schemaLocation="../../../../../../classes/simpleDataTypes.xsd"/>
   <xs:complexType name="POLB_MT004200CA.ActPromise">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" name="fillerOrderNumber"
                     type="chi:InstanceIdentifier"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POLB_MT004200CA.ActRequest">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" name="actRequestReference"
                     type="chi:InstanceIdentifier"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POLB_MT004200CA.BatteryEvent">
      <xs:sequence>
         <xs:element maxOccurs="10" minOccurs="0" name="specimen"
                     type="chi:POLB_MT004200CA.Specimen"/>
         <xs:group maxOccurs="20" minOccurs="0" ref="chi:POLB_MT004200CA.RoleChoice"/>
         <xs:element maxOccurs="2" minOccurs="1" name="batteryEventIdentifier"
                     type="chi:InstanceIdentifier"/>
         <xs:element maxOccurs="2" minOccurs="1" name="performer"
                     type="chi:POLB_MT004200CA.Performer"/>
         <xs:element maxOccurs="1" minOccurs="1" name="typeOfBatteryEvent" type="chi:CodedType"/>
         <xs:element maxOccurs="1" minOccurs="0" name="primaryInformationRecipientAssignedEntity"
                     type="chi:COCT_MT090502CA.AssignedEntity"/>
         <xs:group maxOccurs="3" minOccurs="0" ref="chi:POLB_MT004200CA.FulfillmentChoice"/>
         <xs:element maxOccurs="1" minOccurs="1" name="batteryEventStatus"
                     type="chi:SimpleCodedType"/>
         <xs:element maxOccurs="1" minOccurs="1" name="batteryEventEffectiveTime"
                     type="chi:DateInterval"/>
         <xs:element maxOccurs="1" minOccurs="0" name="pertinentInformation1OutbreakEvent"
                     type="chi:POLB_MT004200CA.OutbreakEvent"/>
         <xs:element maxOccurs="2" minOccurs="0" name="batteryEventConfidentiality"
                     type="chi:CodedValue"/>
         <xs:element maxOccurs="100" minOccurs="0"
                     name="pertinentInformation2SupportingClinicalObservationEvent"
                     type="chi:POLB_MT004200CA.SupportingClinicalObservationEvent1"/>
         <xs:element maxOccurs="10" minOccurs="0" name="component1ReportableTestIndicator"
                     type="chi:POLB_MT004200CA.ReportableTestIndicator"/>
         <xs:element maxOccurs="1" minOccurs="0" name="component2ResultSortKey"
                     type="chi:POLB_MT004200CA.ResultSortKey"/>
         <xs:element maxOccurs="100" minOccurs="0" name="component3ReportLevelObservationEvent"
                     type="chi:POLB_MT004200CA.ReportLevelObservationEvent"/>
         <xs:group maxOccurs="100" minOccurs="0" ref="chi:POLB_MT004200CA.ObservationChoice"/>
         <xs:element maxOccurs="1" minOccurs="0" name="subjectOf1ControlActEvent"
                     type="chi:COCT_MT130001CA.ControlActEvent"/>
         <xs:element maxOccurs="100" minOccurs="0" name="subjectOf2"
                     type="chi:POLB_MT004200CA.Subject2"/>
         <xs:element maxOccurs="1" minOccurs="0" name="subjectOf3ResultStatusProcessStep"
                     type="chi:POLB_MT004200CA.ResultStatusProcessStep"/>
      </xs:sequence>
   </xs:complexType>
   <xs:group name="POLB_MT004200CA.FulfillmentChoice">
      <xs:choice>
         <xs:element name="fillerOrder" type="chi:POLB_MT004200CA.ActPromise"/>
         <xs:element name="actRequest" type="chi:POLB_MT004200CA.ActRequest"/>
         <xs:element name="requestChoice" type="chi:POLB_MT001001CA.RequestChoice"/>
      </xs:choice>
   </xs:group>
   <xs:complexType name="POLB_MT004200CA.ObservationChoice">
      <xs:sequence>
         <xs:element maxOccurs="10" minOccurs="0" name="specimen"
                     type="chi:POLB_MT004200CA.Specimen"/>
         <xs:group maxOccurs="20" minOccurs="0" ref="chi:POLB_MT004200CA.RoleChoice"/>
         <xs:element maxOccurs="2" minOccurs="1" name="performer"
                     type="chi:POLB_MT004200CA.Performer"/>
         <xs:element maxOccurs="1" minOccurs="0" name="primaryInformationRecipientAssignedEntity"
                     type="chi:COCT_MT090502CA.AssignedEntity"/>
         <xs:group maxOccurs="3" minOccurs="0" ref="chi:POLB_MT004200CA.FulfillmentChoice"/>
         <xs:element maxOccurs="1" minOccurs="0" name="pertinentInformation1OutbreakEvent"
                     type="chi:POLB_MT004200CA.OutbreakEvent"/>
         <xs:element maxOccurs="100" minOccurs="0"
                     name="pertinentInformation2SupportingClinicalObservationEvent"
                     type="chi:POLB_MT004200CA.SupportingClinicalObservationEvent1"/>
         <xs:element maxOccurs="10" minOccurs="0" name="component1ReportableTestIndicator"
                     type="chi:POLB_MT004200CA.ReportableTestIndicator"/>
         <xs:element maxOccurs="1" minOccurs="0" name="component2ResultSortKey"
                     type="chi:POLB_MT004200CA.ResultSortKey"/>
         <xs:element maxOccurs="100" minOccurs="0" name="component3ReportLevelObservationEvent"
                     type="chi:POLB_MT004200CA.ReportLevelObservationEvent"/>
         <xs:group maxOccurs="100" minOccurs="0" ref="chi:POLB_MT004200CA.ObservationChoice"/>
         <xs:element maxOccurs="1" minOccurs="0" name="subjectOf1ControlActEvent"
                     type="chi:COCT_MT130001CA.ControlActEvent"/>
         <xs:element maxOccurs="100" minOccurs="0" name="subjectOf2"
                     type="chi:POLB_MT004200CA.Subject2"/>
         <xs:element maxOccurs="1" minOccurs="0" name="subjectOf3ResultStatusProcessStep"
                     type="chi:POLB_MT004200CA.ResultStatusProcessStep"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POLB_MT004200CA.ObservationReport">
      <xs:sequence>
         <xs:element maxOccurs="10" minOccurs="0" name="specimen"
                     type="chi:POLB_MT004200CA.Specimen"/>
         <xs:group maxOccurs="20" minOccurs="0" ref="chi:POLB_MT004200CA.RoleChoice"/>
         <xs:element maxOccurs="1" minOccurs="1" name="observationReportIdentifier"
                     type="chi:InstanceIdentifier"/>
         <xs:element maxOccurs="2" minOccurs="1" name="performer"
                     type="chi:POLB_MT004200CA.Performer"/>
         <xs:element maxOccurs="1" minOccurs="1" name="labObservationReportType"
                     type="chi:CodedType"/>
         <xs:element maxOccurs="1" minOccurs="0" name="primaryInformationRecipientAssignedEntity"
                     type="chi:COCT_MT090502CA.AssignedEntity"/>
         <xs:group maxOccurs="3" minOccurs="0" ref="chi:POLB_MT004200CA.FulfillmentChoice"/>
         <xs:element maxOccurs="1" minOccurs="1" name="observationReportTitle" type="xs:string"/>
         <xs:element maxOccurs="1" minOccurs="0" name="pertinentInformation1OutbreakEvent"
                     type="chi:POLB_MT004200CA.OutbreakEvent"/>
         <xs:element maxOccurs="1" minOccurs="0" name="renderedReport"
                     type="chi:EncapsulatedDocumentOrReference"/>
         <xs:element maxOccurs="100" minOccurs="0"
                     name="pertinentInformation2SupportingClinicalObservationEvent"
                     type="chi:POLB_MT004200CA.SupportingClinicalObservationEvent1"/>
         <xs:element maxOccurs="1" minOccurs="1" name="observationReportStatus"
                     type="chi:SimpleCodedType"/>
         <xs:element maxOccurs="10" minOccurs="0" name="component1ReportableTestIndicator"
                     type="chi:POLB_MT004200CA.ReportableTestIndicator"/>
         <xs:element maxOccurs="1" minOccurs="0" name="observationReportDateTime"
                     type="chi:FullDateTime"/>
         <xs:element maxOccurs="1" minOccurs="0" name="component2ResultSortKey"
                     type="chi:POLB_MT004200CA.ResultSortKey"/>
         <xs:element maxOccurs="2" minOccurs="0" name="resultMaskingIndicator" type="chi:CodedValue"/>
         <xs:element maxOccurs="100" minOccurs="0" name="component3ReportLevelObservationEvent"
                     type="chi:POLB_MT004200CA.ReportLevelObservationEvent"/>
         <xs:element maxOccurs="1" minOccurs="0" name="recordTargetPatient"
                     type="chi:COCT_MT050007CA.Patient"/>
         <xs:group maxOccurs="100" minOccurs="0" ref="chi:POLB_MT004200CA.ObservationChoice"/>
         <xs:element maxOccurs="1" minOccurs="0" name="subjectOf1ControlActEvent"
                     type="chi:COCT_MT130001CA.ControlActEvent"/>
         <xs:element maxOccurs="100" minOccurs="0" name="subjectOf2"
                     type="chi:POLB_MT004200CA.Subject2"/>
         <xs:element maxOccurs="1" minOccurs="0" name="subjectOf3ResultStatusProcessStep"
                     type="chi:POLB_MT004200CA.ResultStatusProcessStep"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POLB_MT004200CA.OutbreakEvent">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" name="outbreakIdentifier"
                     type="chi:InstanceIdentifier"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POLB_MT004200CA.Performer">
      <xs:sequence>
         <xs:group maxOccurs="1" minOccurs="1" ref="chi:POLB_MT004200CA.RoleChoice"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POLB_MT004200CA.ReportLevelObservationEvent">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="sectionIdentifier"
                     type="chi:InstanceIdentifier"/>
         <xs:element maxOccurs="1" minOccurs="1" name="reportSectionObservationType"
                     type="chi:CodedType"/>
         <xs:element maxOccurs="1" minOccurs="0" name="noteType" type="xs:string"/>
         <xs:element maxOccurs="1" minOccurs="0" name="reportSectionObservationDateTime"
                     type="chi:FullDateTime"/>
         <xs:element maxOccurs="2" minOccurs="0" name="resultMaskingIndicator" type="chi:CodedValue"/>
         <xs:element maxOccurs="1" minOccurs="0" name="reportSectionObservationValue"
                     type="xs:anyType"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POLB_MT004200CA.ReportableTestIndicator">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" name="observationTypeReportableIndicator"
                     type="chi:CodedType"/>
         <xs:element maxOccurs="1" minOccurs="1" name="reportableIndicator" type="xs:boolean"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POLB_MT004200CA.ResultSortKey">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" name="sortKeyText" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POLB_MT004200CA.ResultStatusProcessStep">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" name="resultStatusProcessStepCode"
                     type="chi:CodedType"/>
      </xs:sequence>
   </xs:complexType>
   <xs:group name="POLB_MT004200CA.RoleChoice">
      <xs:choice>
         <xs:element name="healthcareWorker" type="chi:COCT_MT090102CA.AssignedEntity"/>
         <xs:element name="healthcareOrganization" type="chi:COCT_MT090508CA.AssignedEntity"/>
         <xs:element name="healthcareOrganization" type="chi:COCT_MT090502CA.AssignedEntity"/>
      </xs:choice>
   </xs:group>
   <xs:complexType name="POLB_MT004200CA.SectionLevelObservationEvent">
      <xs:sequence>
         <xs:element maxOccurs="10" minOccurs="0" name="specimen"
                     type="chi:POLB_MT004200CA.Specimen"/>
         <xs:group maxOccurs="20" minOccurs="0" ref="chi:POLB_MT004200CA.RoleChoice"/>
         <xs:element maxOccurs="2" minOccurs="0" name="sectionIdentifier"
                     type="chi:InstanceIdentifier"/>
         <xs:element maxOccurs="2" minOccurs="1" name="performer"
                     type="chi:POLB_MT004200CA.Performer"/>
         <xs:element maxOccurs="1" minOccurs="1" name="sectionType" type="chi:CodedType"/>
         <xs:element maxOccurs="1" minOccurs="0" name="primaryInformationRecipientAssignedEntity"
                     type="chi:COCT_MT090502CA.AssignedEntity"/>
         <xs:group maxOccurs="3" minOccurs="0" ref="chi:POLB_MT004200CA.FulfillmentChoice"/>
         <xs:element maxOccurs="1" minOccurs="0" name="sectionText" type="xs:string"/>
         <xs:element maxOccurs="1" minOccurs="0" name="pertinentInformation1OutbreakEvent"
                     type="chi:POLB_MT004200CA.OutbreakEvent"/>
         <xs:element maxOccurs="1" minOccurs="1" name="observationStatus" type="chi:SimpleCodedType"/>
         <xs:element maxOccurs="1" minOccurs="0" name="sectionReportedDateTime"
                     type="chi:FullDateWithTime"/>
         <xs:element maxOccurs="100" minOccurs="0"
                     name="pertinentInformation2SupportingClinicalObservationEvent"
                     type="chi:POLB_MT004200CA.SupportingClinicalObservationEvent1"/>
         <xs:element maxOccurs="10" minOccurs="0" name="component1ReportableTestIndicator"
                     type="chi:POLB_MT004200CA.ReportableTestIndicator"/>
         <xs:element maxOccurs="2" minOccurs="0" name="resultMaskingIndicator" type="chi:CodedValue"/>
         <xs:element maxOccurs="1" minOccurs="0" name="component2ResultSortKey"
                     type="chi:POLB_MT004200CA.ResultSortKey"/>
         <xs:element maxOccurs="1" minOccurs="0" name="sectionValue" type="xs:anyType"/>
         <xs:element maxOccurs="100" minOccurs="0" name="component3ReportLevelObservationEvent"
                     type="chi:POLB_MT004200CA.ReportLevelObservationEvent"/>
         <xs:group maxOccurs="100" minOccurs="0" ref="chi:POLB_MT004200CA.ObservationChoice"/>
         <xs:element maxOccurs="1" minOccurs="0" name="subjectOf1ControlActEvent"
                     type="chi:COCT_MT130001CA.ControlActEvent"/>
         <xs:element maxOccurs="100" minOccurs="0" name="subjectOf2"
                     type="chi:POLB_MT004200CA.Subject2"/>
         <xs:element maxOccurs="1" minOccurs="0" name="subjectOf3ResultStatusProcessStep"
                     type="chi:POLB_MT004200CA.ResultStatusProcessStep"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POLB_MT004200CA.Specimen">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="specimenSequenceNumber" type="xs:integer"/>
         <xs:element maxOccurs="1" minOccurs="1" name="specimen" type="chi:COCT_MT080100CA.Specimen"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POLB_MT004200CA.Subject2">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" name="contextConductionInd" type="xs:boolean"/>
         <xs:element maxOccurs="1" minOccurs="1" name="annotation"
                     type="chi:COCT_MT120600CA.Annotation"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POLB_MT004200CA.SupportingClinicalObservationEvent1">
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" name="supportingClinicalObservationCode"
                     type="chi:CodedType"/>
         <xs:element maxOccurs="1" minOccurs="1" name="supportingClinicalObservationValue"
                     type="xs:anyType"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>