message-builder-simple-xml/src/main/resources/ca/infoway/messagebuilder/model/PORX_MT060160CA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:chi="urn:ca.infoway.messagebuilder.simplexml.v1" elementFormDefault="qualified" targetNamespace="urn:ca.infoway.messagebuilder.simplexml.v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="COCT_MT910107CA.xsd"/>
  <xs:include schemaLocation="COCT_MT220210CA.xsd"/>
  <xs:include schemaLocation="COCT_MT120600CA.xsd"/>
  <xs:include schemaLocation="COCT_MT260030CA.xsd"/>
  <xs:include schemaLocation="COCT_MT240003CA.xsd"/>
  <xs:include schemaLocation="COCT_MT220110CA.xsd"/>
  <xs:include schemaLocation="COCT_MT011001CA.xsd"/>
  <xs:include schemaLocation="COCT_MT270010CA.xsd"/>
  <xs:include schemaLocation="COCT_MT090302CA.xsd"/>
  <xs:include schemaLocation="COCT_MT090108CA.xsd"/>
  <xs:include schemaLocation="../../../../../../classes/simpleDataTypes.xsd"/>
  <xs:complexType name="PORX_MT060160CA.AnnotationIndicator">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="PORX_MT060160CA.Author4">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="prescribedDate" type="chi:FullDate"/>
      <xs:element maxOccurs="1" minOccurs="0" name="prescriptionTransmissionMethod" type="chi:CodedValue"/>
      <xs:element maxOccurs="1" minOccurs="0" name="signature" type="chi:EncapsulatedSignatureType"/>
      <xs:element maxOccurs="1" minOccurs="1" name="assignedEntity" type="chi:COCT_MT090108CA.AssignedEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:group name="PORX_MT060160CA.ChangedBy">
    <xs:choice>
      <xs:element name="healthcareWorker" type="chi:COCT_MT090108CA.AssignedEntity"/>
      <xs:element name="application" type="chi:COCT_MT090302CA.AssignedDevice"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="PORX_MT060160CA.CombinedMedicationRequest">
    <xs:sequence>
      <xs:element maxOccurs="2" minOccurs="1" name="prescriptionOrderNumber" type="chi:InstanceIdentifier"/>
      <xs:element maxOccurs="1" minOccurs="1" name="prescriptionType" type="chi:CodedType"/>
      <xs:element maxOccurs="1" minOccurs="1" name="prescriptionStatus" type="chi:SimpleCodedType"/>
      <xs:element maxOccurs="2" minOccurs="0" name="prescriptionMaskingIndicators" type="chi:CodedValue"/>
      <xs:element maxOccurs="1" minOccurs="1" name="author" type="chi:PORX_MT060160CA.Author4"/>
      <xs:element maxOccurs="10" minOccurs="1" name="component1DosageInstruction" type="chi:COCT_MT270010CA.DosageInstruction"/>
      <xs:element maxOccurs="1" minOccurs="1" name="notEligibleForTrial" type="xs:boolean"/>
      <xs:element maxOccurs="1" minOccurs="1" name="component3" type="chi:PORX_MT060160CA.Component6"/>
      <xs:element maxOccurs="100" minOccurs="0" name="componentOf1PatientCareProvisionEvent" type="chi:COCT_MT011001CA.PatientCareProvisionEvent"/>
      <xs:element maxOccurs="1" minOccurs="1" name="treatmentType" type="chi:CodedValue"/>
      <xs:element maxOccurs="5" minOccurs="0" name="coverage" type="chi:PORX_MT060160CA.Coverage2"/>
      <xs:element maxOccurs="5" minOccurs="0" name="definition" type="chi:PORX_MT060160CA.Definition"/>
      <xs:element maxOccurs="1" minOccurs="0" name="derivedFrom" type="chi:PORX_MT060160CA.DerivedFrom"/>
      <xs:element maxOccurs="1" minOccurs="0" name="directTargetMedication" type="chi:COCT_MT220110CA.Medication"/>
      <xs:element maxOccurs="999" minOccurs="0" name="fulfillment1" type="chi:PORX_MT060160CA.InFulfillmentOf1"/>
      <xs:element maxOccurs="1" minOccurs="0" name="fulfillment2" type="chi:PORX_MT060160CA.InFulfillmentOf5"/>
      <xs:element maxOccurs="1" minOccurs="0" name="fulfillment3" type="chi:PORX_MT060160CA.InFulfillmentOf4"/>
      <xs:element maxOccurs="1" minOccurs="0" name="fulfillment4" type="chi:PORX_MT060160CA.InFulfillmentOf3"/>
      <xs:element maxOccurs="1" minOccurs="0" name="fulfillment5" type="chi:PORX_MT060160CA.InFulfillmentOf2"/>
      <xs:element maxOccurs="1" minOccurs="1" name="locationServiceDeliveryLocation" type="chi:COCT_MT240003CA.ServiceDeliveryLocation"/>
      <xs:element maxOccurs="6" minOccurs="0" name="pertinentInformation" type="chi:PORX_MT060160CA.PertinentInformation"/>
      <xs:element maxOccurs="1" minOccurs="0" name="precondition" type="chi:PORX_MT060160CA.Precondition"/>
      <xs:element maxOccurs="1" minOccurs="0" name="predecessor" type="chi:PORX_MT060160CA.Predecessor"/>
      <xs:element maxOccurs="5" minOccurs="1" name="reason" type="chi:PORX_MT060160CA.Reason2"/>
      <xs:element maxOccurs="1" minOccurs="0" name="responsiblePartyAssignedEntity" type="chi:COCT_MT090108CA.AssignedEntity"/>
      <xs:element maxOccurs="25" minOccurs="0" name="subjectOf1DetectedIssueEvent" type="chi:COCT_MT260030CA.DetectedIssueEvent"/>
      <xs:element maxOccurs="1" minOccurs="0" name="subjectOf2DetectedIssueIndicator" type="chi:PORX_MT060160CA.DetectedIssueIndicator"/>
      <xs:element maxOccurs="99" minOccurs="0" name="subjectOf3Annotation" type="chi:COCT_MT120600CA.Annotation"/>
      <xs:element maxOccurs="1" minOccurs="0" name="subjectOf4AnnotationIndicator" type="chi:PORX_MT060160CA.AnnotationIndicator"/>
      <xs:element maxOccurs="1" minOccurs="0" name="subjectOf5" type="chi:PORX_MT060160CA.Subject8"/>
      <xs:element maxOccurs="20" minOccurs="0" name="subjectOf6ControlActEvent" type="chi:PORX_MT060160CA.ControlActEvent"/>
      <xs:element maxOccurs="10" minOccurs="0" name="subjectOf7" type="chi:PORX_MT060160CA.Subject16"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PORX_MT060160CA.Component">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="dispenseType" type="chi:CodedValue"/>
      <xs:element maxOccurs="1" minOccurs="1" name="dispensedProcessingAndPickupDate" type="chi:DateInterval"/>
      <xs:element maxOccurs="1" minOccurs="1" name="dispensedQuantity" type="chi:PhysicalQuantity"/>
      <xs:element maxOccurs="1" minOccurs="1" name="dispensedDaysSupply" type="chi:DateInterval"/>
      <xs:element maxOccurs="1" minOccurs="0" name="shipToAddress" type="chi:PostalAddress"/>
      <xs:element maxOccurs="1" minOccurs="1" name="supplyEventProductMedication" type="chi:COCT_MT220210CA.Medication"/>
      <xs:element maxOccurs="1" minOccurs="0" name="supplyEventReceiverPersonalRelationship" type="chi:COCT_MT910107CA.PersonalRelationship"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PORX_MT060160CA.Component13">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="substitutionCode" type="chi:CodedValue"/>
      <xs:element maxOccurs="1" minOccurs="0" name="productSelectionCode" type="chi:CodedValue"/>
      <xs:element maxOccurs="1" minOccurs="1" name="substitutingPersonIdentifier" type="chi:InstanceIdentifier"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PORX_MT060160CA.Component3">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="totalPrescribedQuantity" type="chi:PhysicalQuantity"/>
      <xs:element maxOccurs="1" minOccurs="1" name="totalDaysSupply" type="chi:DateInterval"/>
      <xs:element maxOccurs="1" minOccurs="1" name="supplyRequestItemComponent1InitialSupplyRequest" type="chi:PORX_MT060160CA.InitialSupplyRequest"/>
      <xs:element maxOccurs="1" minOccurs="1" name="supplyRequestItemProductMedication" type="chi:COCT_MT220110CA.Medication"/>
      <xs:element maxOccurs="1" minOccurs="0" name="dispenseInterval" type="chi:DateInterval"/>
      <xs:element maxOccurs="1" minOccurs="0" name="numberOfFills" type="xs:integer"/>
      <xs:element maxOccurs="1" minOccurs="0" name="fillQuantity" type="chi:PhysicalQuantity"/>
      <xs:element maxOccurs="1" minOccurs="0" name="daysSupply" type="chi:DateInterval"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PORX_MT060160CA.Component6">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="prescriptionDispensableIndicator" type="chi:SimpleCodedType"/>
      <xs:element maxOccurs="1" minOccurs="0" name="dispensingAllowedPeriod" type="chi:DateInterval"/>
      <xs:element maxOccurs="5" minOccurs="1" name="supplyRequestComponent" type="chi:PORX_MT060160CA.Component3"/>
      <xs:element maxOccurs="5" minOccurs="0" name="supplyRequestReceiverPersonalRelationship" type="chi:COCT_MT910107CA.PersonalRelationship"/>
      <xs:element maxOccurs="1" minOccurs="0" name="toBePickedUpWhen" type="chi:DateInterval"/>
      <xs:element maxOccurs="1" minOccurs="0" name="assignedFacilityNotReassignableIndicator" type="chi:CodedValue"/>
      <xs:element maxOccurs="1" minOccurs="1" name="supplyRequestLocationServiceDeliveryLocation" type="chi:COCT_MT240003CA.ServiceDeliveryLocation"/>
      <xs:element maxOccurs="1" minOccurs="1" name="prescriptionShipToAddress" type="chi:PostalAddress"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PORX_MT060160CA.ControlActEvent">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="changeType" type="chi:CodedValue"/>
      <xs:element maxOccurs="1" minOccurs="1" name="changeEffectivePeriod" type="chi:DateInterval"/>
      <xs:element maxOccurs="1" minOccurs="0" name="changeReason" type="chi:CodedValue"/>
      <xs:element maxOccurs="1" minOccurs="1" name="changeTimestamp" type="chi:FullDateTime"/>
      <xs:group maxOccurs="1" minOccurs="1" ref="chi:PORX_MT060160CA.ChangedBy"/>
      <xs:element maxOccurs="1" minOccurs="0" name="responsiblePartyAssignedEntity" type="chi:COCT_MT090108CA.AssignedEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PORX_MT060160CA.Coverage2">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="extensionGrantedIndicator" type="chi:SimpleCodedType"/>
      <xs:element maxOccurs="1" minOccurs="1" name="coverageExtensionId" type="chi:InstanceIdentifier"/>
      <xs:element maxOccurs="1" minOccurs="1" name="payorIdentifier" type="chi:InstanceIdentifier"/>
      <xs:element maxOccurs="1" minOccurs="1" name="payorName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PORX_MT060160CA.Definition">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="protocolIdentifiers" type="chi:InstanceIdentifier"/>
      <xs:element maxOccurs="1" minOccurs="1" name="prescriptionType" type="chi:CodedValue"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PORX_MT060160CA.DerivedFrom">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="PORX_MT060160CA.DetectedIssueIndicator">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="PORX_MT060160CA.InFulfillmentOf1">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="prescriptionDispenseNumber" type="chi:InstanceIdentifier"/>
      <xs:element maxOccurs="1" minOccurs="1" name="dispenseStatus" type="chi:SimpleCodedType"/>
      <xs:element maxOccurs="1" minOccurs="1" name="medicationDispenseComponent1" type="chi:PORX_MT060160CA.Component"/>
      <xs:element maxOccurs="10" minOccurs="1" name="medicationDispenseComponent2DosageInstruction" type="chi:COCT_MT270010CA.DosageInstruction"/>
      <xs:element maxOccurs="1" minOccurs="0" name="medicationDispenseComponent3" type="chi:PORX_MT060160CA.Component13"/>
      <xs:element maxOccurs="1" minOccurs="1" name="medicationDispenseLocationServiceDeliveryLocation" type="chi:COCT_MT240003CA.ServiceDeliveryLocation"/>
      <xs:element maxOccurs="20" minOccurs="0" name="medicationDispenseSubjectOf1ControlActEvent" type="chi:PORX_MT060160CA.ControlActEvent"/>
      <xs:element maxOccurs="99" minOccurs="0" name="medicationDispenseSubjectOf4Annotation" type="chi:COCT_MT120600CA.Annotation"/>
      <xs:element maxOccurs="25" minOccurs="0" name="medicationDispenseSubjectOf5DetectedIssueEvent" type="chi:COCT_MT260030CA.DetectedIssueEvent"/>
      <xs:element maxOccurs="1" minOccurs="1" name="medicationDispensePerformerAssignedEntity" type="chi:COCT_MT090108CA.AssignedEntity"/>
      <xs:element maxOccurs="1" minOccurs="0" name="medicationDispenseResponsiblePartyAssignedEntity" type="chi:COCT_MT090108CA.AssignedEntity"/>
      <xs:element maxOccurs="1" minOccurs="0" name="medicationDispenseSubjectOf2AnnotationIndicator" type="chi:PORX_MT060160CA.AnnotationIndicator"/>
      <xs:element maxOccurs="1" minOccurs="0" name="medicationDispenseSubjectOf3DetectedIssueIndicator" type="chi:PORX_MT060160CA.DetectedIssueIndicator"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PORX_MT060160CA.InFulfillmentOf2">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="dispensedFillsToDate" type="xs:integer"/>
      <xs:element maxOccurs="1" minOccurs="0" name="dispensedQuantityToDate" type="chi:PhysicalQuantity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PORX_MT060160CA.InFulfillmentOf3">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="totalFillsRemaining" type="xs:integer"/>
      <xs:element maxOccurs="1" minOccurs="0" name="totalQuantityRemaining" type="chi:PhysicalQuantity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PORX_MT060160CA.InFulfillmentOf4">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="firstDispensePickupDate" type="chi:DateInterval"/>
      <xs:element maxOccurs="1" minOccurs="1" name="firstQuantityDispensed" type="chi:PhysicalQuantity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PORX_MT060160CA.InFulfillmentOf5">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="lastDispensePickupDate" type="chi:DateInterval"/>
      <xs:element maxOccurs="1" minOccurs="1" name="lastQuantityDispensed" type="chi:PhysicalQuantity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PORX_MT060160CA.InitialSupplyRequest">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="firstFillExpiryDate" type="chi:DateInterval"/>
      <xs:element maxOccurs="1" minOccurs="0" name="firstFillQuantity" type="chi:PhysicalQuantity"/>
      <xs:element maxOccurs="1" minOccurs="0" name="firstFillDaysSupply" type="chi:DateInterval"/>
    </xs:sequence>
  </xs:complexType>
  <xs:group name="PORX_MT060160CA.MedicationRecord">
    <xs:choice>
      <xs:element name="prescription" type="chi:PORX_MT060160CA.CombinedMedicationRequest"/>
      <xs:element name="otherMedications" type="chi:PORX_MT060160CA.OtherMedication"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="PORX_MT060160CA.OtherMedication">
    <xs:sequence>
      <xs:element maxOccurs="2" minOccurs="1" name="administrationRecordId" type="chi:InstanceIdentifier"/>
      <xs:element maxOccurs="1" minOccurs="1" name="otherMedicationType" type="chi:CodedType"/>
      <xs:element maxOccurs="1" minOccurs="1" name="otherMedicationStatus" type="chi:SimpleCodedType"/>
      <xs:element maxOccurs="1" minOccurs="1" name="drugActivePeriod" type="chi:DateInterval"/>
      <xs:element maxOccurs="2" minOccurs="0" name="otherMedicationMaskingIndicators" type="chi:CodedValue"/>
      <xs:element maxOccurs="1" minOccurs="0" name="routeOfAdministration" type="chi:CodedValue"/>
      <xs:element maxOccurs="1" minOccurs="1" name="authorAssignedEntity" type="chi:COCT_MT090108CA.AssignedEntity"/>
      <xs:element maxOccurs="10" minOccurs="0" name="componentDosageInstruction" type="chi:COCT_MT270010CA.DosageInstruction"/>
      <xs:element maxOccurs="100" minOccurs="0" name="componentOfPatientCareProvisionEvent" type="chi:COCT_MT011001CA.PatientCareProvisionEvent"/>
      <xs:element maxOccurs="1" minOccurs="1" name="consumableMedication" type="chi:COCT_MT220110CA.Medication"/>
      <xs:element maxOccurs="1" minOccurs="1" name="locationServiceDeliveryLocation" type="chi:COCT_MT240003CA.ServiceDeliveryLocation"/>
      <xs:element maxOccurs="1" minOccurs="0" name="responsiblePartyAssignedEntity" type="chi:COCT_MT090108CA.AssignedEntity"/>
      <xs:element maxOccurs="20" minOccurs="0" name="subjectOf1ControlActEvent" type="chi:PORX_MT060160CA.ControlActEvent"/>
      <xs:element maxOccurs="1" minOccurs="0" name="subjectOf2DetectedIssueIndicator" type="chi:PORX_MT060160CA.DetectedIssueIndicator"/>
      <xs:element maxOccurs="99" minOccurs="0" name="subjectOf3Annotation" type="chi:COCT_MT120600CA.Annotation"/>
      <xs:element maxOccurs="1" minOccurs="0" name="subjectOf4AnnotationIndicator" type="chi:PORX_MT060160CA.AnnotationIndicator"/>
      <xs:element maxOccurs="25" minOccurs="0" name="subjectOf5DetectedIssueEvent" type="chi:COCT_MT260030CA.DetectedIssueEvent"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PORX_MT060160CA.PertinentInformation">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="prescriptionPatientMeasurementType" type="chi:CodedValue"/>
      <xs:element maxOccurs="1" minOccurs="1" name="prescriptionPatientMeasurementTime" type="chi:FullDate"/>
      <xs:element maxOccurs="1" minOccurs="1" name="prescriptionPatientMeasuredValue" type="chi:PhysicalQuantity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PORX_MT060160CA.Precondition">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="PORX_MT060160CA.Predecessor">
    <xs:sequence>
      <xs:element maxOccurs="2" minOccurs="1" name="previousPrescriptionOrderNumber" type="chi:InstanceIdentifier"/>
      <xs:element maxOccurs="1" minOccurs="1" name="prescriptionType" type="chi:CodedValue"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PORX_MT060160CA.Reason">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="issueType" type="chi:CodedValue"/>
      <xs:element maxOccurs="1" minOccurs="0" name="issueComment" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PORX_MT060160CA.Reason2">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="indicationPriority" type="xs:integer"/>
      <xs:group maxOccurs="1" minOccurs="1" ref="chi:COCT_MT120402CA.Indications"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PORX_MT060160CA.Subject16">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="refusalToFillDate" type="chi:FullDate"/>
      <xs:element maxOccurs="1" minOccurs="0" name="refusalToFillReasonCode" type="chi:CodedValue"/>
      <xs:element maxOccurs="50" minOccurs="0" name="refusalToFillReason" type="chi:PORX_MT060160CA.Reason"/>
      <xs:element maxOccurs="1" minOccurs="1" name="refusalToFillAuthorAssignedEntity" type="chi:COCT_MT090108CA.AssignedEntity"/>
      <xs:element maxOccurs="1" minOccurs="1" name="refusalToFillLocationServiceDeliveryLocation" type="chi:COCT_MT240003CA.ServiceDeliveryLocation"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PORX_MT060160CA.Subject8">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="substituionAllowed" type="chi:CodedValue"/>
      <xs:element maxOccurs="1" minOccurs="1" name="substitutionNotAllowedIndicator" type="xs:boolean"/>
      <xs:element maxOccurs="1" minOccurs="1" name="notAllowedReason" type="chi:CodedValue"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
