message-builder-simple-xml/src/main/resources/ca/infoway/messagebuilder/model/PORX_MT060040CA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:chi="urn:ca.infoway.messagebuilder.simplexml.v1" elementFormDefault="qualified" targetNamespace="urn:ca.infoway.messagebuilder.simplexml.v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="COCT_MT120600CA.xsd"/>
  <xs:include schemaLocation="COCT_MT260030CA.xsd"/>
  <xs:include schemaLocation="COCT_MT011001CA.xsd"/>
  <xs:include schemaLocation="COCT_MT240003CA.xsd"/>
  <xs:include schemaLocation="COCT_MT910107CA.xsd"/>
  <xs:include schemaLocation="COCT_MT141007CA.xsd"/>
  <xs:include schemaLocation="COCT_MT090302CA.xsd"/>
  <xs:include schemaLocation="COCT_MT090108CA.xsd"/>
  <xs:include schemaLocation="../../../../../../classes/simpleDataTypes.xsd"/>
  <xs:complexType name="PORX_MT060040CA.AnnotationIndicator">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="PORX_MT060040CA.Author4">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="prescribedDate" type="chi:FullDate"/>
      <xs:element maxOccurs="1" minOccurs="0" name="prescriptionTransmissionMethod" type="chi:CodedValue"/>
      <xs:element maxOccurs="1" minOccurs="0" name="signature" type="chi:EncapsulatedSignatureType"/>
      <xs:element maxOccurs="1" minOccurs="1" name="assignedEntity" type="chi:COCT_MT090108CA.AssignedEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:group name="PORX_MT060040CA.ChangedBy">
    <xs:choice>
      <xs:element name="healthcareWorker" type="chi:COCT_MT090108CA.AssignedEntity"/>
      <xs:element name="application" type="chi:COCT_MT090302CA.AssignedDevice"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="PORX_MT060040CA.Component">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="dispenseType" type="chi:CodedValue"/>
      <xs:element maxOccurs="1" minOccurs="1" name="dispenseProcessingAndPickupDate" type="chi:DateInterval"/>
      <xs:element maxOccurs="1" minOccurs="1" name="dispensedQuantity" type="xs:integer"/>
      <xs:element maxOccurs="1" minOccurs="1" name="dispenseDaysSupply" type="chi:DateInterval"/>
      <xs:element maxOccurs="1" minOccurs="0" name="shipToAddress" type="chi:PostalAddress"/>
      <xs:element maxOccurs="1" minOccurs="1" name="supplyEventProductManufacturedProduct" type="chi:COCT_MT141007CA.ManufacturedProduct"/>
      <xs:element maxOccurs="1" minOccurs="0" name="supplyEventReceiverPersonalRelationship" type="chi:COCT_MT910107CA.PersonalRelationship"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PORX_MT060040CA.Component6">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="totalPrescribedQuantity" type="xs:integer"/>
      <xs:element maxOccurs="1" minOccurs="0" name="totalDaysSupply" type="chi:DateInterval"/>
      <xs:element maxOccurs="1" minOccurs="1" name="supplyRequestComponentContextControlCode" type="chi:SimpleCodedType"/>
      <xs:element maxOccurs="1" minOccurs="1" name="supplyRequestComponentContextConductionInd" type="xs:boolean"/>
      <xs:element maxOccurs="1" minOccurs="1" name="supplyRequestComponentSupplementalFillInformation" type="chi:PORX_MT060040CA.SupplementalFillInformation"/>
      <xs:element maxOccurs="1" minOccurs="0" name="toBePickedUpWhen" type="chi:DateInterval"/>
      <xs:element maxOccurs="1" minOccurs="1" name="supplyRequestLocationServiceDeliveryLocation" type="chi:COCT_MT240003CA.ServiceDeliveryLocation"/>
      <xs:element maxOccurs="1" minOccurs="1" name="prescriptionShipToAddress" type="chi:PostalAddress"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PORX_MT060040CA.ControlActEvent">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="changeType" type="chi:CodedValue"/>
      <xs:element maxOccurs="1" minOccurs="1" name="changeEffectivePeriod" type="chi:DateInterval"/>
      <xs:element maxOccurs="1" minOccurs="0" name="changeReason" type="chi:CodedValue"/>
      <xs:element maxOccurs="1" minOccurs="1" name="changeTimestamp" type="chi:FullDateTime"/>
      <xs:group maxOccurs="1" minOccurs="1" ref="chi:PORX_MT060040CA.ChangedBy"/>
      <xs:element maxOccurs="1" minOccurs="0" name="responsiblePartyAssignedEntity" type="chi:COCT_MT090108CA.AssignedEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PORX_MT060040CA.Coverage2">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="extensionGrantedIndicator" type="chi:SimpleCodedType"/>
      <xs:element maxOccurs="1" minOccurs="1" name="coverageExtensionId" type="chi:InstanceIdentifier"/>
      <xs:element maxOccurs="1" minOccurs="1" name="payorIdentifier" type="chi:InstanceIdentifier"/>
      <xs:element maxOccurs="1" minOccurs="1" name="payorName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PORX_MT060040CA.DerivedFrom">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="PORX_MT060040CA.DetectedIssueIndicator">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="PORX_MT060040CA.DeviceRequest">
    <xs:sequence>
      <xs:element maxOccurs="2" minOccurs="1" name="prescriptionOrderNumber" type="chi:InstanceIdentifier"/>
      <xs:element maxOccurs="1" minOccurs="1" name="prescriptionStatus" type="chi:SimpleCodedType"/>
      <xs:element maxOccurs="2" minOccurs="0" name="prescriptionMaskingIndicators" type="chi:CodedValue"/>
      <xs:element maxOccurs="1" minOccurs="1" name="author" type="chi:PORX_MT060040CA.Author4"/>
      <xs:element maxOccurs="1" minOccurs="0" name="usageInstructions" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="1" name="component2" type="chi:PORX_MT060040CA.Component6"/>
      <xs:element maxOccurs="100" minOccurs="0" name="componentOfPatientCareProvisionEvent" type="chi:COCT_MT011001CA.PatientCareProvisionEvent"/>
      <xs:element maxOccurs="5" minOccurs="0" name="coverage" type="chi:PORX_MT060040CA.Coverage2"/>
      <xs:element maxOccurs="1" minOccurs="0" name="derivedFrom" type="chi:PORX_MT060040CA.DerivedFrom"/>
      <xs:element maxOccurs="1" minOccurs="1" name="directTargetManufacturedProduct" type="chi:COCT_MT141007CA.ManufacturedProduct"/>
      <xs:element maxOccurs="1" minOccurs="0" name="fulfillment1" type="chi:PORX_MT060040CA.InFulfillmentOf5"/>
      <xs:element maxOccurs="1" minOccurs="0" name="fulfillment2" type="chi:PORX_MT060040CA.InFulfillmentOf4"/>
      <xs:element maxOccurs="1" minOccurs="0" name="fulfillment3" type="chi:PORX_MT060040CA.InFulfillmentOf3"/>
      <xs:element maxOccurs="1" minOccurs="0" name="fulfillment4" type="chi:PORX_MT060040CA.InFulfillmentOf2"/>
      <xs:element maxOccurs="999" minOccurs="0" name="fulfillment5" type="chi:PORX_MT060040CA.InFulfillmentOf1"/>
      <xs:element maxOccurs="1" minOccurs="1" name="locationServiceDeliveryLocation" type="chi:COCT_MT240003CA.ServiceDeliveryLocation"/>
      <xs:element maxOccurs="1" minOccurs="0" name="precondition" type="chi:PORX_MT060040CA.Precondition"/>
      <xs:element maxOccurs="1" minOccurs="0" name="predecessor" type="chi:PORX_MT060040CA.Predecessor"/>
      <xs:element maxOccurs="5" minOccurs="1" name="reason" type="chi:PORX_MT060040CA.Reason2"/>
      <xs:element maxOccurs="1" minOccurs="0" name="responsiblePartyAssignedEntity" type="chi:COCT_MT090108CA.AssignedEntity"/>
      <xs:element maxOccurs="25" minOccurs="0" name="subjectOf1DetectedIssueEvent" type="chi:COCT_MT260030CA.DetectedIssueEvent"/>
      <xs:element maxOccurs="20" minOccurs="0" name="subjectOf2ControlActEvent" type="chi:PORX_MT060040CA.ControlActEvent"/>
      <xs:element maxOccurs="99" minOccurs="0" name="subjectOf3Annotation" type="chi:COCT_MT120600CA.Annotation"/>
      <xs:element maxOccurs="10" minOccurs="0" name="subjectOf4" type="chi:PORX_MT060040CA.Subject8"/>
      <xs:element maxOccurs="1" minOccurs="0" name="subjectOf5DetectedIssueIndicator" type="chi:PORX_MT060040CA.DetectedIssueIndicator"/>
      <xs:element maxOccurs="1" minOccurs="0" name="subjectOf6AnnotationIndicator" type="chi:PORX_MT060040CA.AnnotationIndicator"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PORX_MT060040CA.InFulfillmentOf1">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="prescriptionDispenseNumber" type="chi:InstanceIdentifier"/>
      <xs:element maxOccurs="1" minOccurs="1" name="dispenseStatus" type="chi:SimpleCodedType"/>
      <xs:element maxOccurs="1" minOccurs="0" name="usageInstructions" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="1" name="deviceDispenseComponent2" type="chi:PORX_MT060040CA.Component"/>
      <xs:element maxOccurs="20" minOccurs="0" name="deviceDispenseSubjectOf1ControlActEvent" type="chi:PORX_MT060040CA.ControlActEvent"/>
      <xs:element maxOccurs="25" minOccurs="0" name="deviceDispenseSubjectOf4DetectedIssueEvent" type="chi:COCT_MT260030CA.DetectedIssueEvent"/>
      <xs:element maxOccurs="99" minOccurs="0" name="deviceDispenseSubjectOf5Annotation" type="chi:COCT_MT120600CA.Annotation"/>
      <xs:element maxOccurs="1" minOccurs="1" name="deviceDispenseLocationServiceDeliveryLocation" type="chi:COCT_MT240003CA.ServiceDeliveryLocation"/>
      <xs:element maxOccurs="1" minOccurs="1" name="deviceDispensePerformerAssignedEntity" type="chi:COCT_MT090108CA.AssignedEntity"/>
      <xs:element maxOccurs="1" minOccurs="0" name="deviceDispenseResponsiblePartyAssignedEntity" type="chi:COCT_MT090108CA.AssignedEntity"/>
      <xs:element maxOccurs="1" minOccurs="0" name="deviceDispenseSubjectOf2AnnotationIndicator" type="chi:PORX_MT060040CA.AnnotationIndicator"/>
      <xs:element maxOccurs="1" minOccurs="0" name="deviceDispenseSubjectOf3DetectedIssueIndicator" type="chi:PORX_MT060040CA.DetectedIssueIndicator"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PORX_MT060040CA.InFulfillmentOf2">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="numberOfFillsMadeAgainstRx" type="xs:integer"/>
      <xs:element maxOccurs="1" minOccurs="0" name="totalSuppliedAmount" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PORX_MT060040CA.InFulfillmentOf3">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="fillsRemaining" type="xs:integer"/>
      <xs:element maxOccurs="1" minOccurs="0" name="remainingTotalQuantity" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PORX_MT060040CA.InFulfillmentOf4">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="firstDispensePickupDate" type="chi:DateInterval"/>
      <xs:element maxOccurs="1" minOccurs="1" name="firstQuantityDispensed" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PORX_MT060040CA.InFulfillmentOf5">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="lastDispensePickupDate" type="chi:DateInterval"/>
      <xs:element maxOccurs="1" minOccurs="1" name="lastQuantityDispensed" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PORX_MT060040CA.Precondition">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="PORX_MT060040CA.Predecessor">
    <xs:sequence>
      <xs:element maxOccurs="2" minOccurs="1" name="previousPrescriptionOrderNumber" type="chi:InstanceIdentifier"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PORX_MT060040CA.Reason">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="issueType" type="chi:CodedValue"/>
      <xs:element maxOccurs="1" minOccurs="0" name="issueComment" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PORX_MT060040CA.Reason2">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="indicationPriority" type="xs:integer"/>
      <xs:group maxOccurs="1" minOccurs="1" ref="chi:COCT_MT120402CA.Indications"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PORX_MT060040CA.Subject8">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="refusalToFillDate" type="chi:FullDate"/>
      <xs:element maxOccurs="1" minOccurs="0" name="refusalToFillReasonCode" type="chi:CodedValue"/>
      <xs:element maxOccurs="50" minOccurs="0" name="refusalToFillReason" type="chi:PORX_MT060040CA.Reason"/>
      <xs:element maxOccurs="1" minOccurs="1" name="refusalToFillAuthorAssignedEntity" type="chi:COCT_MT090108CA.AssignedEntity"/>
      <xs:element maxOccurs="1" minOccurs="1" name="refusalToFillLocationServiceDeliveryLocation" type="chi:COCT_MT240003CA.ServiceDeliveryLocation"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PORX_MT060040CA.SupplementalFillInformation">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="numberOfFills" type="xs:integer"/>
      <xs:element maxOccurs="1" minOccurs="0" name="fillQuantity" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
